* {
    padding: 0;
    margin: 0;
}

.slides {
    width: 100%;
    max-width: 900px;
}

.slide {
    display: flex;
    justify-content: space-between;
    background: rgb(225, 227, 231);
    padding: 0;
}

.slide img {
    max-width: 84%;
    height: 500px;
    object-fit: cover;
}

button {
    padding: 0;
    border: none;
    font-size: 30px;
    color: white;
    width: 8%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: rgb(209, 211, 216);
}

button:focus {
    outline: none;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.images img:hover {
    border: 2px solid #3da9f8;
}

.currentImg {
    border: 2px solid #3da9f8;
}

/* media queries */

@media screen and (min-width: 0) and (max-width: 650px) {
    .slide img {
        max-width: 84%;
        height: 350px;
        object-fit: cover;
    }

    button {
        font-size: 20px;
        color: white;
        width: 8%;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;
    }

    button:hover {
        background: rgb(209, 211, 216);
    }

    button:focus {
        outline: none;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
    }

    .images img {
        width: 100px;
        height: 70px;
        object-fit: cover;
        margin: 5px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .images img:hover {
        border: 2px solid #3da9f8;
    }

    .currentImg {
        border: 2px solid #3da9f8;
    }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    .slide img {
        height: 400px;
    }
}